{% if canEdit %}
	<a href="{{ constant('ADMIN_URL') }}?p=changelog&action=new" class="btn btn-success btn-sm" title="Adicionar" target="_blank">Adicionar</a>
{% endif %}
<table border="0" cellspacing="1" cellpadding="4" width="100%">
	<tr bgcolor="{{ config.vdarkborder }}">
		<td width="22"><span class="white"><b>Tipo</b></span></td>
		<td width="22"><span class="white"><b>Onde</b></span></td>
		<td width="50"><span class="white"><b>Data</b></span></td>
		<td><span class="white"><b>Descrição</b></span></td>
		{% if canEdit %}
		<td></td>
		{% endif %}
	</tr>
	{% if changelogs|length > 0%}
		{% set i = 0 %}
		{% for log in changelogs %}
		<tr bgcolor="{{ getStyle(i) }}">
			<td align="center">
				<span class="badge bg-leaf">{{ log.type }}</span>
			</td>
			<td align="center">
				<span class="badge bg-secondary">{{ log.where }}</span>
			</td>
			<td>{{ log.date|date("j.m.Y") }}</td>
			<td>{{ log.body|nl2br}}</td>
			{% if canEdit  %}
				<td>
					{{ include('admin.links.html.twig', {page: 'changelog', id: log.id, hide: log.hide }) }}
				</td>
			{% endif %}
		</tr>
		{% set i = i + 1 %}
		{% endfor %}
	{% else %}
	<tr>
		<td colspan="4" bgcolor="{{ config.darkborder }}">Nenhum registro de mudanças no momento.</td>
	</tr>
	{% endif %}

	<table border="0" cellspacing="1" cellpadding="4" width="100%">
	{% if page > 0 %}
		<tr><td width="100%" align="right" valign="bottom"><a href="{{ getLink('changelog/' ~ (page - 1)) }}" class="size_xxs">Página Anterior</a></td></tr>
		{% endif %}
		{% if next_page %}
		<tr><td width="100%" align="right" valign="bottom"><a href="{{ getLink('changelog/' ~ (page + 1)) }}" class="size_xxs">Próxima Página</a></td></tr>
	{% endif %}
	</table>
</table>
