{% set title = 'Busca de Casas' %}
{% set content %}
{% if errors is not empty %}
	{% for error in errors %}
		<p class="error">{{ error }}</p>
	{% endfor %}
{% else %}
Aqui você pode ver a lista de todas as casas e apartamentos disponíveis{{ guildString }}.
Clique no botão de visualização para obter mais informações sobre uma casa ou ajuste
os critérios de busca e inicie uma nova pesquisa.
<br><br>
{% if cleanOldHouse is not empty or rentType != 'never' %}
	Toda manhã durante o salvamento global do servidor há uma limpeza automática de casas. O servidor remove proprietários que não fizeram login nos últimos {{ cleanOldHouse }} dias{% if rentType != 'never' %} ou que não pagaram o aluguel {{ rentType }}. Lembre-se de deixar dinheiro para o aluguel {% if config.lua.bankSystem is not empty %}no banco da sua casa ou {% else %}no depósito na mesma cidade onde você tem a casa!{% endif %}{% else %}.{% endif %}
	<br><br>
{% endif %}

{% if houses is not empty or housesSearch %}
<table border="0" cellspacing="1" cellpadding="4" width="100%">
	<tbody>
		<tr bgcolor="{{ config.vdarkborder }}">
			<td colspan="6" class="white"><b>{{ houseType }} disponíveis{% if townName is not empty %} em {{ townName }}{% endif %} no <b>{{ config.lua.serverName }}</b></b></td>
		</tr>

		<tr bgcolor="{{ config.darkborder }}">
			{% if houses is not empty %}
				<td width="40%"><b>Nome</b></td>
				<td width="10%"><b>Tamanho</b></td>
				<td width="10%"><b>Aluguel</b></td>

				<td width="40%"><b>Status</b></td>
				<td>&nbsp;</td>
			{% elseif housesSearch %}
				<td>Nenhuma {{ houseType }} com os critérios especificados.</td>
			{% endif %}
		</tr>

		{% if houses is not empty %}
			{% set i = 0 %}
			{% for house in houses %}
				{% set i = i + 1 %}
				<tr bgcolor="{{ getStyle(i) }}">
					<td width="40%">
						{{ house.name }}
					</td>

					<td width="10%">
						{{ house.size }}
					</td>

					<td width="10%">
						{{ house.rent }} golds
					</td>

					<td width="40%">
						{{ house.rentedBy|raw }}
					</td>

					<td>
						<a href="{{ house.link }}">
							{{ include('buttons.view.html.twig') }}
						</a>
					</td>
				</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>
<br>
{% endif %}

<form action="{{ getLink('houses') }}" method="post">
	<table border="0" cellspacing="1" cellpadding="4" width="100%">
		<tbody>
			<tr bgcolor="{{ config.vdarkborder }}">
				<td colspan="4" class="white"><b>Busca de Casas</b></td>
			</tr>

			<tr bgcolor="{{ config.darkborder }}">
				<td width="25%"><b>Cidade</b></td>
				<td width="25%"><b>Status</b></td>
				<td width="25%"><b>Ordenar</b></td>
			</tr>

			<tr bgcolor="{{ config.darkborder }}">
				<td valign="top" rowspan="2">
					{% set checked = false %}
					{% for id, name in config.towns %}
						{% if id > 0 %}
							{% if ((townId is empty and name is not empty) or id == townId) and not checked %}
								{% set variable = "checked" %}
								{% set checked = true %}
							{% else %}
								{% set variable = "" %}
							{% endif %}

							<input type="radio" name="town" id="town_{{ id }}" value="{{ id }}"{% if variable is defined %} {{ variable }}{% endif %}>
							<label for="town_{{ id }}"> {{ name }}</label>
							<br>
						{% endif %}
					{% endfor %}
				</td>

				<td valign="top">
					<input type="radio" name="state" id="state_all" value=""{% if state is empty %} checked{% endif %}>
					<label for="state_all">todos</label><br>

					<input type="radio" name="state" id="state_free" value="free"{% if state == 'free' %} checked{% endif %}>
					<label for="state_free">livres</label><br>

					<input type="radio" name="state" id="state_rented" value="rented"{% if state == 'rented' %} checked{% endif %}>
					<label for="state_rented">alugadas</label><br>
				</td>

				<td valign="top" rowspan="2">
					<input type="radio" name="order" id="order_name" value=""{% if order is empty %} checked{% endif %}>
					<label for="order_name"> por nome</label><br>

					<input type="radio" name="order" id="order_size" value="size"{% if order == 'size' %} checked{% endif %}>
					<label for="order_size"> por tamanho</label><br>

					<input type="radio" name="order" id="order_rent" value="rent"{% if order == 'rent' %} checked{% endif %}>
					<label for="order_rent"> por aluguel</label><br>
				</td>
			</tr>

			<tr bgcolor="{{ config.darkborder }}">
				<td valign="top">
					<input type="radio" name="type" id="type_all" value=""{% if type is empty %} checked{% endif %}>
					<label for="type"> todos</label><br>
					<input type="radio" name="type" id="type_houses" value="houses"{% if type == 'houses' %} checked{% endif %}>
					<label for="type_houses"> casas e apartamentos</label><br>
					<input type="radio" name="type" id="type_guildhalls" value="guildhalls"{% if type == 'guildhalls' %} checked{% endif %}>
					<label for="type_guildhalls"> guildhalls</label><br>
				</td>
			</tr>
		</tbody>
	</table>
	<br>

	<table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tbody>
			<tr align="center">
				<td>
					{{ include('buttons.submit.html.twig') }}
				</td>
			</tr>
		</tbody>
	</table>
</form>
{% endif %}
{% endset %}
{% include 'tables.headline.html.twig' %}
